<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Find a Bar</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <body class="grey lighten-2">
      <!-- Container/Body content -->
      <main class="container grey lighten-4">
            <!--Start Navigation Bar -->
            <nav>
              <div class="nav-wrapper grey darken-4">
                <div class="left">
                  <a href="index.html">
                    <img
                      class="brand-logo"
                      src="/assets/images/alcocall_logo.png"
                      alt="Alcocall Logo"
                    />
                  </div>
                  </a>
                <ul id="nav-mobile" class="right hide-on-sm-and-down">
                  <li><a href="liquor_search.html">Recipes</a></li>
                  <li><a href="random.html">Random Drink</a></li>
                  <li><a href="bars.html">Bars</a></li>
                  <li><a href="beerSearch.html">Breweries</a></li>
                </ul>
              </div>
            </nav>
            <!-- End of Navigation Bar -->
        <h3>Find a Bar...</h3>
    <!--Start of main content-->    
    <main>

    <!--Google Maps API Embedded-->
    <div id class="mapsFull">
        <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?q=bars%20near%20me&key=AIzaSyAO-aBYWPDQ12tw7JzsIlrdQk8ZDIcuWho" 
        allowfullscreen="true"></iframe>
    </div>
<h3>Please Drink Responsibly!</h3>
<p>Have you already started drinking? Call a rideshare app or a friend to take you on the next journey of your adventure!</p>

    </main>
    <!--End of main content-->
    <!--Please Drink Resposibly! Button for Taxi phone number-->
    <!-- Footer Starts -->
    <footer class="page-footer grey darken-4">
      <div class="container grey darken-4">
        <div class="row">
          <div class="col l6 m6 s12">
            <h5 class="white-text left-align">AlcoCALL</h5>
            <p class="grey-text text-lighten-4 left-align">
              "The virtual bartender application that uses
              what you've got."
            </p>
          </div>
          <!-- <div class="col l4 offset-6 m6 s12">
                <h5 class="white-text left-align">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div> -->
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container grey darken-4 left">
          © 2020, All rights reserved: AlcoCALL by The
          Coding Commanders
          <a
            class="grey-text text-lighten-4 right"
            href="AlcoholReferences.html"
            >More Links</a
          >
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  </body>
</html>