<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icons-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=BenchNine"
    />

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <title>The Alcocall App</title>
  </head>
  <body>
    
    <!-- Navigation Bar -->
    <nav class="nav-wrapper black darken-1 z-depth-2 nav-bar">
      <div class="container">
        <a href="index.html" class="">
          <img
            class="brand-logo"
            src="/assets/images/alcocall_logo-blue_sm.png"
            alt="Alcocall Logo"
          />
        </a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down" style="font-family: BenchNine, sans-serif;">
          <li><a href="liquor_search.html">Recipes</a></li>
          <li><a href="random.html">Random Drink</a></li>
          <li><a href="bars.html">Bars</a></li>
          <li><a href="beerSearch.html">Breweries</a></li>
          <li>
            <a href="signIn.html" class="btn-floating light-blue darken-1 zed-depth-0" alt="Login">
              <i class="material-icons">person</i>
            </a>
          </li>
          <!-- <li><span class="badge white-text pink new">5</span></li> -->
        </ul>
      </div>
    </nav>

    <ul class="sidenav white darken-2" id="mobile-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="liquor_search.html">Recipes</a></li>
      <li><a href="bars.html">Bars</a></li>
      <li><a href="beerSearch.html">Breweries</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
    <!-- End of navigation bar and side bar -->
    
    <!-- Carousel Slider Element -->
    <div class="carousel-containter">
      <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"
          ><img src="../../public/assets/images/main_image_slider.png" class="responsive-img"
        /></a>
        <a class="carousel-item" href="#two!"
          ><img src="../../public/assets/images/main_image_slider-2.jpg"
        /></a>
        <a class="carousel-item" href="#three!"
          ><img src="../../public/assets/images/main_image_slider-3.jpg"
        /></a>
      </div>
    </div>

    <!-- Main slider end -->

    <main class="wide-container container">
      
        <!-- Main Text Row -->
        <div class="row">
        <div class="col s12">
          <section class="main-text-section">
            <h5 class="center-align light-blue-text text-darken-1" style="font-family: BenchNine, serif;">USE WHAT YOU'VE GOT!</h5>
            <p class="section main-text flow-text" style="font-family: BenchNine, serif;">
              User wants a new alcoholic drink to experience, clicks on
              ingredients available, and is presented with matching recipes.
              Alternatively, user is unsatisfied with recipe options, and is
              presented with a button to get an Uber and a list of the closest
              local bars.
            </p>
          </section>
        </div>
      </div>
      <!-- End Main Text -->

      <!-- Begin Main Cards -->
      <div class="row">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img
                src="/assets/images/sal-gh-BV5YkMpFlj4-unsplash.jpg"
                alt="Flight of craft beers"
              />
              <a href="" class="halfway-fab btn-floating light-blue darken-1 pulse">
                <i class="large material-icons">local_drink</i>
              </a>
            </div>
            <div class="card-content">
              <span class="card-title light-blue-text text-darken-1">Brewery Search</span>
              <p>
                With craft beers treding over the last few years. Breweries have changed the way we consume and enjoy beer. Search for the best local breweries in your area.
              </p>
            </div>
            <div class="card-action center-align">
              <a class="btn light-blue darken-1" href="beerSearch.html">Find a local brewery</a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img
                  src="/assets/images/jenna-bollweg-5Ufq_E6PCz0-unsplash.jpg"
                  alt="Mai Tai mixed drink"
                />
                <a href="" class="halfway-fab btn-floating light-blue darken-1 pulse">
                  <i class="material-icons">whatshot</i>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title light-blue-text text-darken-1">Random Drink</span>
                <p>
                    With craft beers treding over the last few years. Breweries have changed the way we consume and enjoy beer. Search for the best local breweries in your area.
                </p>
              </div>
              <div class="card-action center-align">
                <a class="btn light-blue darken-1" href="random.html">Surprise Me!</a>
              </div>
            </div>
          </div>
          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img
                  src="/assets/images/ergita-sela-h1tb2E1f3u4-unsplash.jpg"
                  alt="Bartender mixing cosmopolitans"
                />
                <a href="" class="halfway-fab btn-floating light-blue darken-1 pulse">
                  <i class="material-icons">local_bar</i>
                </a>
              </div>
              <div class="card-content">
                <span class="card-title light-blue-text text-darken-1">Bar Search</span>
                <p>
                  With craft beers treding over the last few years. Breweries have changed the way we consume and enjoy beer. Search for the best local breweries in your area.
                </p>
              </div>
              <div class="card-action center-align">
                <a class="btn light-blue darken-1" href="bars.html">Find me a bartender!</a>
              </div>
            </div>
          </div>
          <div class="wide-container container">
            <div class="row">
                <div class="col s12 l6">
                  <div class="card">
                    <div class="card-image">
                      <div class="iframe-container">
                      <iframe class="responsive-iframe" width="100%" height="100%" src="https://www.youtube.com/embed/mDuAe3Q0zdI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <a href="" class="halfway-fab btn-floating light-blue darken-1 pulse">
                        <i class="small material-icons">school</i>
                      </a>
                    </div>
                    <div class="card-content">
                      <span class="card-title light-blue-text text-darken-1">Drink Tutorials</span>
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Maxime, architecto nihil molestias alias consequatur quod
                        tempora praesentium distinctio adipisci officia iure, quo quidem
                        esse enim! Sapiente est veritatis architecto magnam?
                      </p>
                    </div>
                    <div class="card-action center-align">
                      <a class="btn light-blue darken-1" href="#">View more tutortials</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 l6">
                  <div class="card">
                    <div class="card-image">
                      <div class="iframe-container">
                        <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13210.243744101092!2d-117.60827705267576!3d34.13198850193057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c336e687068bcd%3A0x3f6ad32078c50f6!2sHK&#39;s%20Bar%20and%20Grill!5e0!3m2!1sen!2sus!4v1592538250833!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </div>
                        <a href="#" class="halfway-fab btn-floating light-blue darken-1 pulse">
                        <i class="material-icons">location_on</i>
                      </a>
                    </div>
                    <div class="card-content">
                      <span class="card-title light-blue-text text-darken-1">Bar Locater</span>
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Maxime, architecto nihil molestias alias consequatur quod
                        tempora praesentium distinctio adipisci officia iure, quo quidem
                        esse enim! Sapiente est veritatis architecto magnam?
                      </p>
                    </div>
                    <div class="card-action center-align">
                      <a class="btn light-blue darken-1 btn:hover" href="beerSearch.html">Find a local brewery</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </main>
    <!-- Footer Starts -->
    <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="light-blue-text text-darken-1">The Alcocall App</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="light-blue-text text-darken-1">Links</h5>
              <ul>
                <li><a class="footer-a" href="index.html">Home</a></li>
                <li><a class="footer-a" href="recipies">Recipes</a></li>
                <li><a class="footer-a"href="bars.html">Bars</a></li>
                <li><a class="footer-a" href="beerSearch.html">Breweries</a></li>
                <li><a class="footer-a" href="AlcoholReferences.html">Resources</a></li>
                <li><a class="footer-a" href="signIn.html">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="container">
          <p class="footer-copyright grey-text text-darken-2">©2020, All rights reserved: Alcocall app by The Coding Commanders</p>
          </div>
        </div>
      </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>