<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    />
    <title>AlcoCall</title>
  </head>
  
  <!-- Container/Body content -->
  
  <body class="container grey lighten-2">
    <!-- <main class="conatiner grey kighten-4"></main> -->
       <nav class="nav-wrapper grey darken-4 z-depth-2">
          <!--Start Navigation Bar -->
          <div class="container">
            <a href="index.html">
              <img
                class="brand-logo"
                src="/assets/images/alcocall_logo.png"
                alt="Alcocall Logo"
              />
            </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="liquor_search.html">Recipes</a></li>
              <li><a href="random.html">Random Drink</a></li>
              <li><a href="bars.html">Bars</a></li>
              <li><a href="beerSearch.html">Breweries</a></li>
              <li>
                <!-- <a href="#" class="btn-floating green darken-4 zed-depth-0">
                  <i class="material-icons">notifications</i>
                </a>
              </li>
              <li><span class="badge white-text pink new">5</span></li> -->
            </ul>
          </div>
       </nav>
 
        <ul class="sidenav" id="mobile-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="liquor_search.html">Recipes</a></li>
          <li><a href="random.html">Random Drink</a></li>
          <li><a href="bars.html">Bars</a></li>
          <li><a href="beerSearch.html">Breweries</a></li>
        </ul>
          <!-- End of Navigation Bar -->

      <!-- Start of jumbotron/carousel element -->
      <div>
      <div id="main-carousel" class="carousel carousel-slider center grey lighten-4">
        <a class="carousel-item" href="#one!"
          ><img class="image-size" src="/assets/images/kobby-mendez-xBFTjrMIC0c-unsplash.jpg"
        /></a>
        <a class="carousel-item" href="#two!"
          ><img class="image-size" src="/assets/images/maria-avdeeva-4xWsYn3XtvQ-unsplash.jpg"
        /></a>
        <a class="carousel-item" href="#three!"
          ><img src="/assets/images/walter-lee-olivares-de-la-cruz-cUFli52JBoo-unsplash.jpg"
        /></a>
        <a class="carousel-item" href="#four!"
          ><img class="image-size" src="/assets/images/ergita-sela-h1tb2E1f3u4-unsplash.jpg"
        /></a>
      </div>
      </div>
      <!-- End of Jumbotron element -->
      <div class="divider"></div>
      <section class="main-text-section">
        <h5>USE WHAT YOU'VE GOT!</h5>
        <p class="main-text flow-text">User wants a new alcoholic drink to experience, clicks on ingredients available, and is presented with matching recipes. Alternatively, user is unsatisfied with recipe options, and is presented with a button to get an Uber and a list of the closest local bars.</p>
      </section>
      <!-- Question Cards -->
      <!-- Card "Search by liquor" Starts -->
      <div class="grey lighten-4">
        <div class="row left">
            <div id="liquorSearch" class="col s12 m8 l4 left">
                <div class="card icon-block">
                    <div class="card-image">
                          <img src="/assets/images/jenna-bollweg-5Ufq_E6PCz0-unsplash.jpg" />
                          <span class="card-title"></span>
                    </div>
                        <div class="card-content">
                            <h5>
                              Brewery Search
                            </h5>
                            <p>Text Here</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect btn-flat black pulse card-buttons" href="beerSearch.html">WHAT'S ON TAP?!</a>
                        </div>
                    </div>
                </div>
                <!-- Card "Search by liquor" ends -->
              
                <!-- Card "Pick my drink" (Random drink recipe card) -->
                <div id="randomDrink" class="col s12 m8 l4 left">
                    <div class="card icon-block">
                        <div class="card-image">
                            <img src="/assets/images/ergita-sela-h1tb2E1f3u4-unsplash.jpg" />
                <span class="card-title"></span>
                </div>
                <div class="card-content">
                  <h5>
                    Random Drink
                  </h5>
                  <p>Text Here</p>
                </div>
              <div class="card-action">
                <a class="waves-effect btn-flat black pulse card-buttons" href="random.html">SURPRISE ME!</a>
              </div>
            </div>
        </div>
        <!-- Card "Pick my drink" ends -->
        
        <!-- Card "Bar finder" starts -->
          <div id="barSearch" class="col s12 m8 l4 left">
            <div class="card icon-block">
              <div class="card-image">
                <img src="/assets/images/maria-avdeeva-4xWsYn3XtvQ-unsplash.jpg" />
                <span class="card-title"></span>
              </div>
              <div class="card-content">
                <h5>
                Bar Search
                </h5>
                <p>Text Here</p>
              </div>
              <div class="card-action">
                <a class="waves-effect btn-flat black pulse card-buttons" href="bars.html">BARTENDER!</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Card "Bar finder" ends -->
        <!-- Question cards end -->

        <!-- Youtube and Maps links -->
        <div class="row media-section">
          <div id="youTube" class="col s12 m6 l6">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/mDuAe3Q0zdI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>      
          </div>
          <div id class="maps" class="col s12 m6 l6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13210.243744101092!2d-117.60827705267576!3d34.13198850193057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c336e687068bcd%3A0x3f6ad32078c50f6!2sHK&#39;s%20Bar%20and%20Grill!5e0!3m2!1sen!2sus!4v1592538250833!5m2!1sen!2sus" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <!-- Youtube and Maps links end -->
        
        <!-- Footer Starts -->
        <footer class="page-footer grey darken-4">
          <div class="container grey darken-4">
            <div class="row">
              <div class="col l6 m6 s12">
                <h5 class="white-text left-align">AlcoCALL</h5>
                <p class="grey-text text-lighten-4 left-align">"The virtual bartender application that uses what you've got."</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4">
            <div class="container grey darken-4 left">
            © 2020, All rights reserved: AlcoCALL by The Coding Commanders
            <a class="grey-text text-lighten-4 right" href="AlcoholReferences.html">More Links</a>
            </div>
          </div>
        </footer>
            
    </main>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
