<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Search by Liquor</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icons-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Font+Kanit"
    /> -->

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <title>The Alcocall App</title>
  </head>
  <body>
    <!-- Navigation Bar -->

    <nav class="nav-wrapper black darken-1 z-depth-2">
      <div class="container">
        <a href="index.html" class="">
          <img
            class="brand-logo"
            src="/assets/images/alcocall_logo.png"
            alt="Alcocall Logo"
          />
        </a>
        <a
          href="#"
          class="sidenav-trigger"
          data-target="mobile-links"
        >
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="liquor_search.html">Recipes</a></li>
          <li><a href="random.html">Random Drink</a></li>
          <li><a href="/bars.html">Bars</a></li>
          <li><a href="beerSearch.html">Breweries</a></li>
          <li>
            <a
              href="signIn.html"
              class="btn-floating light-blue darken-1 zed-depth-0"
              alt="Login"
            >
              <i class="material-icons">person</i>
            </a>
          </li>
          <!-- <li><span class="badge white-text pink new">5</span></li> -->
        </ul>
      </div>
    </nav>

    <ul class="sidenav white darken-2" id="mobile-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="liquor_search.html">Recipes</a></li>
      <li><a href="bars.html">Bars</a></li>
      <li><a href="beerSearch.html">Breweries</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>

    <!-- End of navigation bar and side bar -->

    <!--Start of main content-->
    <main class="container">
      <div class="row">
        <div class="row container">
          <h5>Select a Spirit!</h5>
          <div class="row drink-wrapper">
            <div id="vodkaInput" class="col s4 m4 l4">
              <!-- <a href="">
      <img
      class="drink-wrapper-images"
      width="150"
      src="images/bradley-dunn-fIZhuM3HlEU-unsplash.jpg"
      />
    </a> -->
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Vodka
              </button>
            </div>

            <!-- Rum Button -->
            <div id="rumInput" class="col s4 m4 l4">
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Rum
              </button>
            </div>

            <!-- Tequila Button -->
            <div id="tequilaInput" class="col s4 m4 l4">
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Tequila
              </button>
            </div>
          </div>
          <div class="row">
            <!-- Whiskey Button -->
            <div id="whiskeyInput" class="col s4 m4">
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Whiskey
              </button>
            </div>
            <!-- Gin Button -->
            <div id="ginInput" class="col s4 m4 l4">
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Gin
              </button>
            </div>
            <!-- Non-Alcohol -->
            <div
              id="Non_AlcoholicInput"
              class="col s4 m4 l4"
            >
              <button
                class="btn-flat black pulse drink-wrapper-buttons"
              >
                Non-Alcohol
              </button>
            </div>
          </div>
        </div>
        <div class="row container">
          <div class="col s10 m6 l6">
            <h5>Select a Drink</h5>
            <div class="row">
              <form>
                <label for="drinkSelect"></label>
                <div id="alcoholInput">
                  <label id="label"></label>
                  <select id="selectIng" class="browser-default">
                    <option value="" disabled selected
                      >Choose your option</option
                    ></select
                  >
                    <option value="" disabled selected
                      >Choose your option</option
                    ></select
                  >
                </div>
              </form>
            </div>
          </div>
          <!--This is where the recipe will display-->
          <div
            id="alcoholDisplay"
            class="col s10 m6 16"
          ></div>
        </div>
        <div class="footer-copyright grey darken-4">
          <div class="container grey darken-4 left">
            © 2020, All rights reserved: AlcoCALL by The
            Coding Commanders
            <a
              class="grey-text text-lighten-4 right"
              href="#!"
              >More Links</a
            >
          </div>
        </div>
      </div>
    </main>
    <!--End of main content-->

    <!--Please Drink Resposibly! Button for Taxi phone number-->

    <!-- Footer Starts -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">The Alcocall App</h5>
            <p class="grey-text text-lighten-4">
              You can use rows and columns here to organize
              your footer content.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="index.html"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="recipies"
                  >Recipes</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="bars.html"
                  >Bars</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="beerSearch.html"
                  >Breweries</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="AlcoholReferences.html"
                  >Resources</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="signIn.html"
                  >Login</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>
            ©2020, All rights reserved: Alcocall app by The
            Coding Commanders
          </p>
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="/assets/js/script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/liquorScript.js"></script>
  </body>
</html>
