<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Search by Liquor</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="grey lighten-2">
    <!-- Container/Body content -->
    <main class="container grey lighten-4">
      <!--Start Navigation Bar -->
      <nav>
        <div class="nav-wrapper grey darken-4">
          <div class="left">
            <a href="index.html">
              <img
                class="brand-logo"
                src="/assets/images/alcocall_logo.png"
                alt="Alcocall Logo"
              />
            </a>
          </div>
          <ul
            id="nav-mobile"
            class="right hide-on-sm-and-down"
          >
            <li>
              <a href="liquor_search.html">Recipes</a>
            </li>
            <li><a href="random.html">Random Drink</a></li>
            <li><a href="bars.html">Bars</a></li>
            <li><a href="beerSearch.html">Breweries</a></li>
          </ul>
        </div>
      </nav>
      <!-- End of Navigation Bar -->

      <!-- Start of main container -->
      <section>
        <div class="row">
          <h5>Find a Drink!</h5>
          <div class="row container">
            <div class="row drink-wrapper">
              <div id="vodkaInput" class="col s12 m4 l4">
                <!-- <a href="">
			  <img
				class="drink-wrapper-images"
				width="150"
				src="images/bradley-dunn-fIZhuM3HlEU-unsplash.jpg"
			  />
			</a> -->
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Vodka
                </button>
              </div>

              <!-- Rum Button -->
              <div id="rumInput" class="col s12 m4 l4">
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Rum
                </button>
              </div>

              <!-- Tequila Button -->
              <div id="tequilaInput" class="col s12 m4 l4">
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Tequila
                </button>
              </div>
            </div>
            <div class="row">
              <div id="whiskeyInput" class="col s12 m4">
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Whiskey
                </button>
              </div>
              <div id="ginInput" class="col s12 m4 l4">
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Gin
                </button>
              </div>
              <div
                id="Non_AlcoholicInput"
                class="col s12 m4 l4"
              >
                <button
                  class="btn-flat black pulse drink-wrapper-buttons"
                >
                  Non-Alcohol
                </button>
              </div>
            </div>
          </div>
          <!--This is where the other ingredients will be listed-->
          <div class="row container">
            <div class="col s12 m4 l4">
              <h5>Select an ingredient</h5>
              <div class="row">
                <form>
                  <label for="drinkSelect"></label>
                  <div id="addIng">
                    <label id="label"></label>
                    <select
                      id="selectIng"
                      class="browser-default"
                    >
                      <option value="" disabled selected
                        >Choose your option</option
                      ></select
                    >
                  </div>
                </form>
              </div>
            </div>
            <div class="col s12 m8 l8 white">
              <div>
                <h5>
                  Is there another ingredient you want to
                  add? Select one from the dropdown on the
                  left!
                </h5>
              </div>
            </div>
          </div>
          <!--This is where the alcohol display and recipe population occurs-->
          <div class="row container">
            <div class="col s12 m4 l4">
              <h5>Select a drink</h5>
              <div class="row">
                <form>
                  <label for="drinkSelect"></label>
                  <div id="alcoholInput">
                    <label id="label"></label>
                    <select
                      id="select"
                      class="browser-default"
                    >
                      <option value="" disabled selected
                        >Choose your option</option
                      ></select
                    >
                  </div>
                </form>
              </div>
            </div>
            <div class="col s12 m8 l8 white">
              <div id="alcoholDisplay">
                <h5>
                  Pick a drink on the dropdown to the left!
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Starts -->
      <footer class="page-footer grey darken-4">
        <div class="container grey darken-4">
          <div class="row">
            <div class="col l6 m6 s12">
              <h5 class="white-text left-align">
                AlcoCALL
              </h5>
              <p
                class="grey-text text-lighten-4 left-align"
              >
                "The virtual bartender application that uses
                what you've got."
              </p>
            </div>
            <!-- <div class="col l4 offset-6 m6 s12">
                <h5 class="white-text left-align">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div> -->
          </div>
        </div>
        <div class="footer-copyright grey darken-4">
          <div class="container grey darken-4 left">
            © 2020, All rights reserved: AlcoCALL by The
            Coding Commanders
            <a
              class="grey-text text-lighten-4 right"
              href="#!"
              >More Links</a
            >
          </div>
        </div>
      </footer>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/liquorScript.js"></script>
  </body>
</html>
