<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icons-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=BenchNine"
    />

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <title>Alcocall Random Drink</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="nav-wrapper black darken-1 z-depth-2 nav-bar">
      <div class="container">
        <a href="index" class="">
          <img
            class="brand-logo"
            src="/assets/images/alcocall_logo-blue_sm.png"
            alt="Alcocall Logo"
          />
        </a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul
          class="right hide-on-med-and-down"
          style="font-family: BenchNine, sans-serif;"
        >
          <li>
            <a href="liquor_search" class="btn:hover">Recipes</a>
          </li>
          <li><a href="random">Random Drink</a></li>
          <li><a href="bars">Bars</a></li>
          <li><a href="beerSearch">Breweries</a></li>
          <li>
            <a
              href="signIn"
              class="btn-floating light-blue darken-1 zed-depth-0"
              alt="Login"
            >
              <i class="material-icons">person</i>
            </a>
          </li>
          <!-- <li><span class="badge white-text pink new">5</span></li> -->
        </ul>
      </div>
    </nav>

    <ul class="sidenav white darken-2" id="mobile-links">
      <li><a href="index">Home</a></li>
      <li><a href="liquor_search">Recipes</a></li>
      <li><a href="bars">Bars</a></li>
      <li><a href="beerSearch">Breweries</a></li>
      <li><a href="login">Login</a></li>
    </ul>
    <!-- End of navigation bar and side bar -->

    <!--Start of main content-->
    <main class="container main-content">
      <div class="container" id="random">
        <ul id="ingList">
          <h5 class="light-blue-text text-darken-1">
            Ingredients:
          </h5>
          <!--This is where the ingredients fill-->
        </ul>
        <h5 id="insTitle" class="light-blue-text text-darken-1">
          Instructions:
        </h5>
        <!--This is where the instructions fill-->
      </div>
    </main>
    <!--End of main content-->

    <!--Please Drink Resposibly! Button for Taxi phone number-->

    <!-- Footer Starts -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="light-blue-text text-darken-1">
              The Alcocall App
            </h5>
            <p class="grey-text text-lighten-4">
              Your virtual bartender
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="light-blue-text text-darken-1">
              Links
            </h5>
            <ul>
              <li>
                <a class="footer-a" href="index">Home</a>
              </li>
              <li>
                <a class="footer-a" href="liquor_search">Recipes</a>
              </li>
              <li>
                <a class="footer-a" href="bars">Bars</a>
              </li>
              <li>
                <a class="footer-a" href="beerSearch">Breweries</a>
              </li>
              <li>
                <a class="footer-a" href="AlcoholReferences">Resources</a>
              </li>
              <li>
                <a class="footer-a" href="signIn">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <p class="footer-copyright grey-text text-darken-2">
            ©2020, All rights reserved: Alcocall app by The Coding Commanders
          </p>
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/random.js"></script>
  </body>
</html>
