<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Materialize CSS</title>
  </head>
  <body>
    <!-- Navigation Bar -->

    <nav class="nav-wrapper grey darken-4 z-depth-2">
      <div class="container">
        <a href="index.html" class="">
          <img
            class="brand-logo"
            src="../../public/assets/images/alcocall_logo.png"
            alt="Alcocall Logo"
          />
        </a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="liquor_search.html">Recipes</a></li>
          <li><a href="random.html">Random Drink</a></li>
          <li><a href="bars.html">Bars</a></li>
          <li><a href="beerSearch.html">Breweries</a></li>
          <!-- <li>
            <a href="#" class="btn-floating green darken-4 zed-depth-0">
              <i class="material-icons">notifications</i>
            </a>
          </li>
          <li><span class="badge white-text pink new">5</span></li> -->
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </body>
</html>
